<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <!-- <link rel="stylesheet" href="/normalize.css"> -->
    <!-- <link rel="stylesheet" href="/skeleton.css"> -->
    <link rel="stylesheet" href="/style.css">
    
    <body>
        <div class="container">
          

        <ul>
            <% for(let i = 0; i < allMessages.length; i++) { %>
                <%    if (i%2) {  %>
                <div class="container darker">
                    <%    } else { %>
                        <div class="container">
                 <%   }  %>
               
                <li>
         <!-- LI PRINTED EACH LOOP             -->
                <%    if (i%2) {  %>
                    <img src="icon2.png" style="float:left" alt="i%2 =true">
                 <%    } else { %>
                    <img src="icon3.png" style="float:left" alt="i%2 =false">
              <%   }  %>


                    
           
                <a href="/messages/<%=allMessages[i].id %>"> <span class="time-right">   <%=allMessages[i].createdAt; %> </span>
                    <%=allMessages[i].user; %>: 
                </a> <br>
                Message:  <%=allMessages[i].message; %>.  <a href="/messages/<%=allMessages[i].id %>/edit">Edit</a>  <br>
            <br>  
                
            
                <form action="/messages/<%= allMessages[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form>
               
                
            </li>
            </div>
            
            <% } %>
        </ul>
       <div class="navbarTop">
       <h2> <a href="/messages/">Home</a>
        <a href="#news">Contacts</a>
        <a href="#contact">Preferences</a>
        <a href="/messages/boards">Change Boards</a></h2>
       
       </div>
    </nav>
        <div class="navbar">

      <br>
            <form action="/messages" method="POST" >
                User: <input type="text" name="user" /><br/>
                Message: <input type="text" name="message" /> <span class="highlighter">  
                      <input type="submit" name="" value="Send"/></span>  
                <!-- SuperUser: <input type="checkbox" name="superUser" /><br/> -->

    
          </div>
          
      



    </body>
</html>